layout {

    focus-ring {
        active-color   "#caccff"
        inactive-color "#131318"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#caccff"
        inactive-color "#131318"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#caccff"
        inactive-color "#a9aefe"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#caccff80"
    }
}

recent-windows {
    highlight {
        active-color "#caccff"
        urgent-color "#ffb4ab"
    }
}
